<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail Master</title>
    <link rel="stylesheet" href="../style.css" />
    <style>
      body {
        width: 250px;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <button id="draftButton">Draft Email</button>
      <button id="summarizeButton">Summarize Email</button>
      <button id="generateButton">Generate Email Response</button>
      <div id="responseArea"></div>
      <!-- This is where the response will be displayed -->
    </div>
    <script src="../popup.js"></script>
  </body>
</html>
